
*{
     margin: 0px;
     padding: 0px;

}
body{
     font-family: 'Inter';
}
.nav-link{
     font-family: 'Inter';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: -0.1px;
     color: #0D0A19;
}

.SignUp{
     font-family: 'Inter';
     font-style: normal;
     font-weight: 600;
     font-size: 14px;
     line-height: 21px;
     letter-spacing: -0.1px;
     color: #9A9EA7;    
}
.SignUp img{
     background: #F5F6F7;
     border-radius: 10px;
     width: 30px;
     height: 25px;
     padding: 5px 8px;
}

.section1{
     background-image: url("../img/Rectangle.png");
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     height: 560px;
}

 .section1 h1{
     font-family: 'Inter';
     font-style: normal;
     font-weight: 700;
     font-size: 64px;
     line-height: 74px;
     letter-spacing: -0.304762px;  
     text-align: center;
     color: white;
     padding-top:15%;
 }

 .section1p{
     font-family: 'Inter';
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     line-height: 27px;

     color: white;
     text-align: center;
     margin-top: 10px;

 }
 .TopFooterSection{
     background: white;
     box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
     border-radius: 8px;
     max-width: 945px;
     height: 80px;
     position: absolute;
     margin: 0px auto;
     bottom: 8px;
     left: 50%;
     z-index: 99;
     width: 98%;
     transform: translateX(-50%);
     
 }
 .TopFooterSection p{
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 18px;
     padding-left: 10px;
     letter-spacing: -0.1px;
     color: #9A9EA7;
 }
 .form-select{
     font-family: 'Inter';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: -0.1px;
     color: #0D0A19;
     border: none !important;
     margin-top: -15px;
 }
 .withoutp {
     margin-top: 27px;
 }

 .HeaderButton {
     background: #7963F0;
     border-radius: 10px;
     color: #fff;
     padding: 7px 15px;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 21px;
     letter-spacing: -0.1px;
     color: #FFFFFF;


 }

 .HeaderButton img{
    margin-top: -3px;

 }


 .section2{
      margin-top: 120px;
      margin-bottom: 100px;
 }

 .BorderRight {
      border-right: 1px solid #EDE8E9;
      height: 40px;
      margin-top: 20px;
 }

 .SomeMargin{
    margin-top: 25px;
 }

 .section3 h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.1px;

    color: #0D0A19;
    margin-bottom: 50px;

 }
 .section3 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px ;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #9A9EA7;
 }
.Button1{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(228, 156, 206, 0.85));
    font-family: 'Inter';
    font-style: normal !important;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 21px !important;
    letter-spacing: -0.1px !important;
    color: #7963f0 !important;
    border-radius: 8px !important;
    text-align: center !important;
}
.card{
    border: none !important;
}

/*section4 area*/
.FindCarHeader{
    width:98%;
    height: 60px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 70px;
}

.section4{
    margin-top: 100px;
    margin-bottom: 100px;
}
.findCar{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.1px;
    color: #0D0A19;
}
.ArrowArea{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #9A9EA7;
    margin-top: 15px;

}

Header p span{
    margin: 0px 5px;
    width: 30px;
    height: 30px;

}

.ArrowArea img{
    background: #F5F6F7;
    border-radius: 10px;
    padding: 10px !important;
}

.product img{
    width: 250px;
    height:200px;
}
.Sedan{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0D0A19;
}

.ProBTN{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px !important;
    line-height: 18px !important;
    text-align: center !important;
    background: linear-gradient(0deg, rgba(219, 215, 215, 0.85), rgba(219, 147, 181, 0.85));
    border-radius: 8px !important;
    color: #7963F0;
}
.ProBTN1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px !important;
    line-height: 18px !important;
    text-align: center !important;
    background: #F5F6F7;
    border-radius: 8px !important;
    color: #9A9EA7;
}
 .product{
    min-width: 24%;
    margin: 0px 20px 50px 0px;
    transition: 0.5s;
    left: 0px;
    border-radius: 20px;
    position: relative;
 }

 .btn-find{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #9A9EA7;
 }

 .active{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #0D0A19;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px ;
    padding-left: 25px;
    padding-right: 25px;
 }

 .find-nav h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #0D0A19;
 }

 .PopularP{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #9A9EA7;
    margin-bottom: 50px;
 }

 .findItem{
    display: flex;
    margin-bottom: 25px;
 }

 .findItem img{
    width:40px;
    height: 40px;
 }

 .findDes{
    margin-left: 15px;
 }

.findDes > .Subaru{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0D0A19;

}

.Num{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    margin-top: -17px;
    color: #9A9EA7;
}


.marginArrowIcon{
    margin-left: 70%;
}

.findDes1{
    display: flex;
    justify-content: space-between;
}

.Num1{
    margin-top: 10px;

}

.PopularP1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #9A9EA7;
    margin-bottom: 20px;
}

.footerSection{
    background-color: #f2f3f5;
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 3%;
}

 .about{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.1px;
    line-height: 27px;
    color: #0D0A19;
    
}

.num3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #9A9EA7;
}

.lastFooter{
    padding-left: 36%;
}

.privacy{
    margin-right: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.1px;
    line-height: 27px;
    color: #0D0A19;

}
.num4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #9A9EA7;
}


 @media all and(max-width:767px){
    .section1 h1{
        font-size: 38px;

    }
    .section1p{
        font-size: 16px;
    }
    .TopFooterSection{
        height: 100px;
    }
    .HeaderButton{
        width: 95%;
        padding: 17px 0px;
        
    }
    .section2{
        margin-top: 320px;

    }
    .section2 img{
        margin-top: 20px;
    }
    .product{
        min-width: 49%;
        margin-right: 10px;
    }
 }